.stack {
  min-height: 100vh;
}

.title {
  padding: 1rem 0;
}

.ticketListEmpty {
  flex-grow: 1;
  flex-basis: 70vh;
  background-color: rgba(162, 163, 163, 0.1);
  border-radius: 5px;
}

.ticketListEmpty > p {
  padding: 1rem 0;
  text-align: center;
}

.ticketsList {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;
}

.ticketItemStatus {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 100px;
}

.ticketItemStatus > span {
  color: red;
}

.ticketItemDivider {
  width: 0.5px;
  background-color: #a4a8b0;
  min-height: 50px;
}

.createWrapper {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createWrapper > p {
  padding: 0;
  margin: 0;
}

.createWrapper > button > svg {
  width: 70px;
  height: 70px;
}
